
<header class="cambas-header">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase text-light">
        ¿Estás pensando lanzar una nueva campaña de publicidad, un nuevo producto,
        diseño, empaque o promoción?
      </h1>
      <p class="text-white mx-auto mt-3 mb-5 text-uppercase">
        Te ayudamos a resolver estos retos aplicados a marketing, co-creando con la
        comunidad creativa más grande de habla hispana, a través de un modelo de crowdaourcing
      </p>
    </div>
  </div>
</header>