<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar Usuario">
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="form-group">
        <select name="" id="" class="form-control">
          <option value="">Todos</option>
          <option value="MEX">México</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Por Fecha">
      </div>
    </div>
  </div>
</div>