<header class="cambas-header">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase text-light">Innovación abierta y crowdsourcing</h1>
      <p class="text-white mx-auto mt-2 mb-5 text-uppercase">
        resolvemos necesidades de publicidad, marketing y diseño,
        co-creando con la mayor comunidad creativa hispana
      </p>
    </div>
  </div>
</header>

<section class="about-section text-center my-5">
  <div class="container">
    <h4 class="text-uppercase text-danger mb-5 mx-auto my-0">[ últimos proyectos ]</h4>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="" class="btn btn-danger">Ver Poryecto</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="" class="btn btn-danger">Ver Poryecto</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="" class="btn btn-danger">Ver Poryecto</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="" class="btn btn-danger">Ver Poryecto</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="" class="btn btn-danger">Ver Poryecto</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="" class="btn btn-danger">Ver Poryecto</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>