<footer class="footer-section py-5 sticky-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Dirección</h4>
            <hr class="my-4">
            <div class="small">
              Goldsmith 40, Colonia Polanco CDMX
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small">
              info@cambas.com
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Teléfonos</h4>
            <hr class="my-4">
            <div class="small">
              <p>México (+52) 55 4163-8500</p>
              <p>Colombia: (+57) 1 508-8540</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social d-flex justify-content-around my-5">
      <a href="" class="mx-2">
        <i class="fab fa-instagram fa-3x text-danger"></i>
      </a>
      <a href="" class="mx-2">
        <i class="fab fa-facebook-f fa-3x text-danger"></i>
      </a>
      <a href="" class="mx-2">
        <i class="fab fa-linkedin-in fa-3x text-danger"></i>
      </a>
    </div>
  </div>
</footer>